* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #05001b;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}
.navbar {
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    position: sticky;
    top: 0;
    background-color: #05001b;  
    z-index: 1000;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    margin-left: 4rem;
    width: 60px;
    cursor: pointer;
}

.logo-container img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}
.description {
    margin-top: 20px;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   text-align: center;
}
